@keyframes rainbow {

    100%,
    0% {
        color: red;
    }

    8% {
        color: blueviolet;
    }

    16% {
        color: deeppink;
    }

    25% {
        color: magenta;
    }

    33% {
        color: royalblue;
    }

    41% {
        color: thistle;
    }

    50% {
        color: aqua;
    }

    58% {
        color: orange;
    }

    66% {
        color: plum;
    }

    75% {
        color: midnightblue;
    }

    83% {
        color: hotpink;
    }

    91% {
        color: forestgreen
    }
}

.title {
    animation: rainbow 5s infinite linear;
    font-size: 50px;
    text-align: center;
}

.nav-bar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 2px solid black;
    margin: 0;
    padding: 30px;
}

.list {
    list-style: none;
}

.article-one {
    display: flex;
    float: left;
    padding: 30px;
    border: 2px solid black;
}

.article-two {
    display: flex;
    float: left;
    padding: 30px;
    border: 2px solid black;
}

.article-three {
    display: flex;
    float: left;
    padding: 30px;
    border: 2px solid black;
}