.this {
	color: red;
}

.hover-example {
	width: 150px;
	height: 150px;
	background-color: pink;
	color: black;
}

.hover-example:hover {
	background-color: crimson;
	width: 150px;
	height: 150px;

	/* hover part selects element only when that condition is true */
}

.first-child-example {
	color: crimson;
}

.first-child-example:first-child {
	color: limegreen;

	/* 
	 * this only selects the element if it is the first element inside of a tag.
	 * Otherwise it won't select it
	 */
}


.second-child-example {
	border-bottom: 1px solid black;
	padding-bottom: 50px;
	
}


.second-child-example:last-child {
	border-bottom: none;
	color: limegreen;
}
